# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Libraries used by Data Scientists
* Tables in Markdown
* Comments into the cell
* Example of operations in the cell

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia
4. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Sckitlearn

| Data Science Tools |
| --- |MySQLd
|Apache Spark|
|Kibana| | |

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a simple arithmetic expression to multiply
#then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by 
#diving by 60
minutes = 200
print(minutes//60,"hr and",minutes%60,"min")

3 hr and 20 min

## Author
Daniel de la Paz